
body, html{
    background: #f1f1f1;
    width: 1920px;
}
.content{
    width: 1170px;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 51px;
    margin-top: 2%;
}
.logo{
    color: #000000;
    font-family: "GilroyBold-☞", sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    
    float: left;
    width: 485px;
}
.logo img{
    width:35px;
    height:40px;
    top:40px ;
    left:375px ;
}
.logo span{
    color: #f25822;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 685px;
    height: 51px;
    float: right;
}
.menu a{
    font-family: "GilroyMedium-☞", sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
}
a.btn.start{
    position: relative;
    left: 0px;
    top: 365px;
}
 a.btn.start:hover{
    background-color: #974e33;
    color: white;
    font-family: "GilroySemiBold-☞", sans-serif; 
}
a.btn{
    font-family: "GilroyMedium-☞", sans-serif;
    font-size: 14px;
    
    font-weight: 400;
    text-decoration: none;
    display: flex;
    height: 50px;
    width: 140px;
    border-radius: 32px;
    background-color: #F25822;
    color: white;
    justify-content: center;
    align-items: center;
    justify-content: center;
}
.menu a:hover{
    background-color: #974e33;
    color: white;
    font-family: "GilroySemiBold-☞", sans-serif; 
}
.title-slide{
    height: 440px;
    width: 100%;
    display: flex;
    margin-top: 65px;
    justify-content: center;
}
.title-slide .img-slide{
    width: 610px ;
    height: 373px;
}
.title-slide .text-slide{
    width: 543px;
    height: 374px;
}
.big-size{
    color: #000000;
  text-align: left;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 60px;
  font-weight: 400;
  position: absolute;
  left: 397px;
  top: 150px;
}
.min-size{
    color: #888888;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 397px;
  top: 410px;
}
.video-player{
    position: relative;
    top: 315px;
    height: 50px;
    width: 135px;
    left: 183px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.video-icon{
    color: #aaaaaa;
    font-family: "GilroyBold-☞", sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.brands{
    height: 50px;
    width: 1170px;
    height: 50px;
    width: 1170px;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.content2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 373px;
    width: 100%;
    margin-bottom: 120px;
}

.content2 .block{
    width: 360px;
    box-sizing: border-box;
    height: 285px;
    background: #ffffff;
    padding: 24px 0px 26px 29px;
}

.content2 .block p{
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.content2 .block .dim-text{
    color: #666666;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    width: 310px;
    height: 42px;
}
.content2 .block .link{
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    position: relative;
}



.marketing .big-font{
    color: #000000;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 700;
  position: relative;
  margin-bottom: 18px;
}
.marketing .dim-text{
    color: #888888;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    width: 100%;
}


.marketing .blocks {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 602px;
    margin-top: 40px;
}
.marketing .blocks .block{
    
    width: 365px;
    height: 535px;
    box-sizing: border-box;
    
    background: #ffffff;
    
    

}
.marketing .blocks .block img{
    width: 100%;

}

.marketing .blocks .block p{
    color: #000000;
    text-align: center;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    align-self: stretch;

}
.marketing .blocks .block .dim-text{
    color: #666666;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    position: relative;
    padding: 0 40px;
    box-sizing: border-box;
    

}
.marketing .blocks .block .btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.marketing .blocks .block a{
    background: #f25822;
    border-radius: 56px;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 51px;
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    position: relative;

}